@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

html, body, #root {
  width: 100%;
  height: 100%;
  background-color: white;
}
